Repository yinkev/Studyin, changes with the owners that CODEOWNERS names for each.
All owners: @kyin, @studyin-analytics, @studyin-ui

CODEOWNERS:

# Studyin ownership map
# Paths map to agents / SMEs for required review.

/content/ upper-limb-itemsmith @kyin @studyin-items
/scripts/ @kyin @studyin-analytics
/app/ @kyin @studyin-ui
/config/ @kyin
AGENTS.md @kyin
README.md @kyin

chore: update rubric score snapshot
  app/public/analytics/rubric-score.json
Owners: @kyin, @studyin-ui

feat: scaffold next analytics shell
  .gitignore
  AGENTS.md
  README.md
  app/globals.css
  app/layout.tsx
  app/page.tsx
  lib/getAnalytics.ts
  next-env.d.ts
  next.config.mjs
  package-lock.json
  package.json
  public/analytics/.gitkeep
  public/analytics/rubric-score.json
  scripts/analyze.mjs
  scripts/score-rubric.mjs
  tsconfig.json
Owners: @kyin, @studyin-ui, @studyin-analytics

feat(evidence): add tooling and placeholder crops
  AGENTS.md
  README.md
  content/banks/upper-limb-oms1/bankart-lesion-instability.item.json
  content/banks/upper-limb-oms1/brachial-artery-injury.item.json
  content/banks/upper-limb-oms1/median-nerve-carpal-tunnel.item.json
  content/banks/upper-limb-oms1/median-nerve-pronator.item.json
  content/banks/upper-limb-oms1/radial-nerve-monteggia.item.json
  content/banks/upper-limb-oms1/radial-nerve-wrist-drop.item.json
  content/banks/upper-limb-oms1/rotator-cuff-tear-night-pain.item.json
  content/banks/upper-limb-oms1/shoulder-suprascapular-entrapment.item.json
  content/banks/upper-limb-oms1/subclavian-steal-exam.item.json
  content/banks/upper-limb-oms1/ulnar-nerve-claw-hand.item.json
  content/banks/upper-limb-oms1/ulnar-nerve-handlebar-palsy.item.json
  content/evidence/upper-limb-oms1/bankart-lesion-instability/bankart-lesion-instability.png
  content/evidence/upper-limb-oms1/brachial-artery-injury/brachial-artery-injury.png
  content/evidence/upper-limb-oms1/median-nerve-carpal-tunnel/median-nerve-carpal-tunnel.png
  content/evidence/upper-limb-oms1/median-nerve-pronator/median-nerve-pronator.png
  content/evidence/upper-limb-oms1/radial-nerve-monteggia/radial-nerve-monteggia.png
  content/evidence/upper-limb-oms1/radial-nerve-wrist-drop/radial-nerve-wrist-drop.png
  content/evidence/upper-limb-oms1/rotator-cuff-tear-night-pain/rotator-cuff-tear-night-pain.png
  content/evidence/upper-limb-oms1/shoulder-suprascapular-entrapment/shoulder-suprascapular-entrapment.png
  content/evidence/upper-limb-oms1/subclavian-steal-exam/subclavian-steal-exam.png
  content/evidence/upper-limb-oms1/ulnar-nerve-claw-hand/claw-hand.png
  content/evidence/upper-limb-oms1/ulnar-nerve-handlebar-palsy/ulnar-nerve-handlebar-palsy.png
  package-lock.json
  package.json
  scripts/lib/schema.mjs
  scripts/tools/fetch-evidence.mjs
  scripts/tools/generate-image.mjs
  scripts/tools/link-evidence.mjs
  scripts/validate-items.mjs
Owners: @kyin, @studyin-analytics

feat(study): add interactive study view
  app/page.tsx
  components/StudyView.tsx
  lib/getItems.ts
Owners: @kyin, @studyin-ui

fix(ui): install tailwind and simplify evidence rendering
  app/globals.css
  components/StudyView.tsx
  package-lock.json
  package.json
  postcss.config.cjs
  tailwind.config.cjs
Owners: @kyin, @studyin-ui

chore(next): remove deprecated experimental.appDir flag
  next.config.mjs
Owners: none

chore(next): upgrade to Next 15.x
  package-lock.json
  package.json
Owners: none

feat(ui): add Exam and Drills pages; build in CI
  .github/workflows/ci.yml
  app/drills/page.tsx
  app/exam/page.tsx
  components/DrillsView.tsx
  components/ExamView.tsx
Owners: @kyin, @studyin-ui

feat(marketing): add Mux-inspired landing (hero, features, stats) and move Study to /study
  app/docs/page.tsx
  app/layout.tsx
  app/page.tsx
  app/study/page.tsx
  components/marketing/Features.tsx
  components/marketing/Footer.tsx
  components/marketing/Header.tsx
  components/marketing/Hero.tsx
  components/marketing/Stats.tsx
Owners: @kyin, @studyin-ui

feat(charts): add D3 TTM and Speed×Accuracy charts; add Summary page
  app/summary/page.tsx
  components/charts/SpeedAccuracyChart.tsx
  components/charts/TTMBarChart.tsx
  components/marketing/Header.tsx
  package-lock.json
  package.json
Owners: @kyin, @studyin-ui

feat(summary): add Confusion and Blueprint drift D3 charts; improve Why‑this‑next pill
  app/summary/page.tsx
  components/StudyView.tsx
  components/charts/BlueprintDriftChart.tsx
  components/charts/ConfusionBar.tsx
Owners: @kyin, @studyin-ui

chore(ci/ui): add Tailwind tokens, Playwright+axe E2E, Lighthouse CI budgets
  .github/workflows/ci.yml
  .lighthouserc.json
  app/globals.css
  package.json
  playwright.config.ts
  tailwind.config.cjs
  tests/e2e/axe.spec.ts
Owners: @kyin, @studyin-ui

feat(summary): add D3 force confusion graph; polish hero; add Tailwind typography
  components/charts/ConfusionForce.tsx
  components/marketing/Hero.tsx
  package-lock.json
  package.json
Owners: none

feat(ui): integrate shadcn-style Button/Card with studious theme tokens
  app/globals.css
  components/marketing/Hero.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/utils.ts
  package-lock.json
  package.json
  tailwind.config.cjs
Owners: @kyin, @studyin-ui

feat(canvas): add Observable-like CanvasChart with TTM bar + tooltips; apply studious shadcn theme
  app/summary/page.tsx
  components/canvas/CanvasChart.tsx
  components/canvas/TTMBarCanvas.tsx
  components/canvas/Tooltip.tsx
Owners: @kyin, @studyin-ui

chore(dev): auto-open browser on npm run dev
  README.md
  package-lock.json
  package.json
  scripts/tools/open-browser.mjs
Owners: @kyin, @studyin-analytics

fix(summary): pass blueprint weights from server; add rubric readiness card; stabilize client imports
  app/summary/page.tsx
  components/charts/BlueprintDriftChart.tsx
Owners: @kyin, @studyin-ui

refactor(charts): unify chart styling with chart cards and canvas polish
  app/summary/page.tsx
  components/canvas/TTMBarCanvas.tsx
  components/charts/BlueprintDriftChart.tsx
  components/charts/ChartCard.tsx
  components/charts/ConfusionBar.tsx
  components/charts/ConfusionForce.tsx
  components/charts/SpeedAccuracyChart.tsx
  components/charts/TTMBarChart.tsx
  components/charts/chartUtils.ts
Owners: @kyin, @studyin-ui

chore(test): exclude Playwright e2e from vitest run
  package.json
Owners: none

docs(pm): add ProjectManager agent + PLAN.md; document evidence tooling and dev auto-open; surface rubric in CI
  .github/workflows/ci.yml
  AGENTS.md
  PLAN.md
  README.md
  scripts/codex/studyin-pm.md
Owners: @kyin, @studyin-analytics

chore(cleanup): remove Playwright, add MCP guidance, automate PM pulse
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  package-lock.json
  package.json
  scripts/tools/pm-pulse.mjs
Owners: @kyin, @studyin-analytics

chore(accessibility): add skip link and align Next.js TS defaults
  app/layout.tsx
  next-env.d.ts
  tsconfig.json
Owners: @kyin, @studyin-ui

chore(cleanup): delete Playwright config and tests
  playwright.config.ts
  tests/e2e/axe.spec.ts
Owners: none

docs(mcp): add servers template and Context7/Codex/DevTools setup
  .mcp/servers.example.json
  PLAN.md
  README.md
Owners: @kyin

feat(ci): enforce accessibility and performance gates
  .github/workflows/ci.yml
  .lighthouserc.json
  AGENTS.md
  PLAN.md
  README.md
  package-lock.json
  package.json
  scripts/codex/implementation-writer.md
  scripts/codex/prd-writer.md
  scripts/codex/studyin-planner.md
Owners: @kyin, @studyin-analytics

chore: tidy docs and gitignore
  .gitignore
  README.md
Owners: @kyin

chore: prune unused deps and normalize mcp example
  .mcp/servers.example.json
  package-lock.json
  package.json
Owners: none

feat(ui): adopt radix primitives and tailwind 4
  AGENTS.md
  IMPLEMENTATION.md
  PLAN.md
  PRD.md
  README.md
  app/globals.css
  app/layout.tsx
  app/providers.tsx
  components/StudyView.tsx
  components/canvas/Tooltip.tsx
  components/ui/radix/dialog.tsx
  components/ui/radix/dropdown-menu.tsx
  components/ui/radix/popover.tsx
  components/ui/radix/tabs.tsx
  components/ui/radix/toast.tsx
  components/ui/radix/tooltip.tsx
  components/ui/radix/visually-hidden.tsx
  package-lock.json
  package.json
  postcss.config.cjs
  tailwind.config.cjs
Owners: @kyin, @studyin-ui

feat(api): add study data endpoints
  app/api/analytics/route.ts
  app/api/exam/form/route.ts
  app/api/items/route.ts
  app/exam/page.tsx
  app/study/page.tsx
  lib/getBlueprint.ts
  lib/getItems.ts
  tests/getItems.test.ts
Owners: @kyin, @studyin-ui

feat(exam): build blueprint form backend
  .gitignore
  PLAN.md
  README.md
  app/exam/page.tsx
  components/ExamView.tsx
  data/events.ndjson
  lib/getExamForm.ts
  lib/getItems.ts
  public/analytics/latest.json
Owners: @kyin, @studyin-ui

feat(analytics): add item recommendation reasons
  PLAN.md
  README.md
  components/StudyView.tsx
  lib/getAnalytics.ts
  scripts/analyze.mjs
  tests/analyze.test.mjs
Owners: @kyin, @studyin-analytics

feat(api): serve study data endpoints
  app/api/analytics/route.ts
  app/api/items/route.ts
  app/exam/page.tsx
  app/study/page.tsx
  lib/getItems.ts
Owners: @kyin, @studyin-ui

chore(plan): expand immediate focus playbook
  PLAN.md
Owners: none

feat(ui): adopt radix patterns across study flows
  components/DrillsView.tsx
  components/ExamView.tsx
  components/StudyView.tsx
  components/ui/radix/radio-group.tsx
  package-lock.json
  package.json
Owners: none

fix(analytics): skip invalid ndjson lines
  scripts/lib/schema.mjs
  tests/schema.test.mjs
Owners: @kyin, @studyin-analytics

feat(app): deliver timed exam and analytics refresh
  .gitignore
  PLAN.md
  README.md
  app/exam/page.tsx
  components/DrillsView.tsx
  components/ExamView.tsx
  components/charts/BlueprintDriftChart.tsx
  components/charts/ChartCard.tsx
  components/charts/ConfusionBar.tsx
  components/charts/ConfusionForce.tsx
  components/charts/SpeedAccuracyChart.tsx
  components/charts/TTMBarChart.tsx
  content/banks/upper-limb-oms1/bankart-lesion-instability.item.json
  content/banks/upper-limb-oms1/median-nerve-pronator.item.json
  content/banks/upper-limb-oms1/radial-nerve-monteggia.item.json
  content/banks/upper-limb-oms1/subclavian-steal-exam.item.json
  content/banks/upper-limb-oms1/ulnar-nerve-claw-hand.item.json
  data/events.ndjson
  lib/getAnalytics.ts
  lib/getBlueprint.ts
  public/analytics/latest.json
  scripts/analyze.mjs
  scripts/validate-items.mjs
Owners: @kyin, @studyin-ui, @studyin-analytics

feat(exam): add timer and blueprint coverage
  .nvmrc
  PLAN.md
  README.md
  app/exam/page.tsx
  components/ExamView.tsx
  lib/blueprintTargets.ts
  lib/getBlueprint.ts
  lib/getLearningObjectives.ts
  tests/engines.test.mjs
Owners: @kyin, @studyin-ui

feat(analytics): add supabase telemetry stack
  AGENTS.md
  IMPLEMENTATION.md
  PLAN.md
  README.md
  app/api/analytics/refresh/route.ts
  app/api/attempts/route.ts
  app/api/forms/route.ts
  app/api/health/route.ts
  app/api/search/route.ts
  app/api/sessions/route.ts
  app/api/snapshots/latest/route.ts
  app/exam/page.tsx
  app/summary/page.tsx
  components/ExamView.tsx
  components/graphs/BlueprintFlow.tsx
  components/graphs/ConfusionGraph.tsx
  components/graphs/SessionFlow.tsx
  lib/getAnalytics.ts
  lib/rag/embedding.mjs
  lib/server/events.ts
  lib/server/forms.ts
  lib/server/supabase.ts
  package-lock.json
  package.json
  scripts/analyze.mjs
  scripts/lib/analyzer-core.mjs
  scripts/rag/build-index.mjs
  scripts/rag/verify-index.mjs
  supabase/policies.sql
  supabase/schema.sql
  tests/api/analyzer.test.ts
  tests/api/events.test.ts
  tests/api/forms.test.ts
  tests/rag.embedding.test.mjs
  types/rag-embedding.d.ts
Owners: @kyin, @studyin-ui, @studyin-analytics

feat(ui): introduce AppShell + dark neon theme; add Learn/Practice tabs and lessons loader; restyle Summary graphs; pin Node 20.14 via .nvmrc
  .nvmrc
  PLAN.md
  app/api/lessons/route.ts
  app/layout.tsx
  app/page.tsx
  app/study/page.tsx
  app/summary/page.tsx
  components/LessonsView.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/graphs/BlueprintFlow.tsx
  components/graphs/ConfusionGraph.tsx
  components/graphs/SessionFlow.tsx
  components/layout/AppShell.tsx
  components/marketing/Features.tsx
  components/marketing/Header.tsx
  components/marketing/Hero.tsx
  components/marketing/Stats.tsx
  components/ui/card.tsx
  config/los.json
  content/lessons/wrist-hand/lo.hand.cmc-mcp-motion.lesson.json
  content/lessons/wrist-hand/lo.hand.fascial-spaces.lesson.json
  content/lessons/wrist-hand/lo.hand.flexor-support-structures.lesson.json
  content/lessons/wrist-hand/lo.hand.intrinsic-muscle-groups.lesson.json
  content/lessons/wrist-hand/lo.hand.neurovascular-supply.lesson.json
  content/lessons/wrist-hand/lo.wrist.carpal-architecture.lesson.json
  content/lessons/wrist-hand/lo.wrist.distal-radioulnar-tfcc.lesson.json
  content/lessons/wrist-hand/lo.wrist.metacarpal-phalanges.lesson.json
  content/lessons/wrist-hand/lo.wrist.radiocarpal-midcarpal.lesson.json
  lib/getItems.ts
  lib/getLessons.ts
  lib/server/events.ts
  package-lock.json
  package.json
  scripts/lib/schema.mjs
  scripts/rag/build-index.mjs
  scripts/validate-items.mjs
Owners: @kyin, @studyin-ui, @studyin-analytics

update app shell layout and styles
  app/globals.css
  app/summary/page.tsx
  components/DrillsView.tsx
  components/ExamView.tsx
  components/LessonsView.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/canvas/Tooltip.tsx
  components/charts/ChartCard.tsx
  components/charts/ConfusionForce.tsx
  components/graphs/BlueprintFlow.tsx
  components/graphs/ConfusionGraph.tsx
  components/graphs/SessionFlow.tsx
  components/layout/AppShell.tsx
  components/marketing/Hero.tsx
  components/marketing/Stats.tsx
  components/ui/card.tsx
Owners: @kyin, @studyin-ui
