Repository yinkev/Studyin, changes with the owners that CODEOWNERS names for each.
All owners: @kyin, @studyin-analytics, @studyin-ui

CODEOWNERS:

# Studyin ownership map
# Paths map to agents / SMEs for required review.

/content/ upper-limb-itemsmith @kyin @studyin-items
/scripts/ @kyin @studyin-analytics
/app/ @kyin @studyin-ui
/config/ @kyin
AGENTS.md @kyin
README.md @kyin

docs(blueprint): add OKComputer UI redesign artifacts
  .mcp/servers.example.json
  AGENTS.md
  OKComputer_UI Redesign Blueprint/DESIGN_SYSTEM.md
  OKComputer_UI Redesign Blueprint/IMPLEMENTATION_PLAN.md
  OKComputer_UI Redesign Blueprint/README.md
  OKComputer_UI Redesign Blueprint/VALIDATION_REPORT.md
  OKComputer_UI Redesign Blueprint/analytics.html
  OKComputer_UI Redesign Blueprint/index.html
  OKComputer_UI Redesign Blueprint/study.html
  README.md
Owners: @kyin

docs: add delivery prompt for adaptive engine spec
  docs/personal-adaptive-study-engine-prompt.md
  docs/personal-adaptive-study-engine-spec.md
Owners: none

feat(ui): OKC heavy UI with anime.js, ECharts (exports), Splide slider, Three.js 3D; update AGENTS to make a11y non-blocking
  AGENTS.md
  app/globals.css
  app/page.tsx
  app/summary/page.tsx
  components/DrillsView.tsx
  components/ExamView.tsx
  components/LessonsView.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/layout/AppShell.tsx
  components/layout/OKCFooter.tsx
  components/layout/OKCHeader.tsx
  components/okc/EChartsClient.tsx
  components/okc/HomeShell.tsx
  components/okc/SplideAchievements.tsx
  components/okc/ThreeAnatomy.tsx
  components/okc/charts/ChartWithDetails.tsx
  components/okc/charts/ConfusionBarCard.tsx
  components/okc/charts/EChartsBase.tsx
  components/okc/charts/EChartsConfusionBar.tsx
  components/okc/charts/EChartsSpeedAccuracy.tsx
  components/okc/charts/EChartsTTM.tsx
  components/okc/charts/SpeedAccuracyCard.tsx
  components/okc/charts/TTMCard.tsx
  components/ui/card.tsx
Owners: @kyin, @studyin-ui

style(ui): polish OKC look across routes (Nunito, pills, card hover, progress bar gradient, button/choice micro-interactions)
  app/globals.css
  app/layout.tsx
  components/ExamView.tsx
  components/LessonsView.tsx
  components/StudyView.tsx
  components/okc/HomeShell.tsx
Owners: @kyin, @studyin-ui

refactor(ui): remove Radix a11y wrappers; inline modal/popover/tabs; align Study/Exam/Lessons to OKC look and OKCAnalytics block
  app/providers.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/okc/analytics/OKCAnalytics.tsx
  components/okc/charts/ChartWithDetails.tsx
Owners: @kyin, @studyin-ui

docs: update README/PLAN for OKC heavy UI (anime.js/ECharts/Splide/Three.js) and non-blocking a11y stance
  PLAN.md
  README.md
Owners: @kyin

fix(ui): load GLTFLoader from jsDelivr pinned three@0.128.0 to resolve 404 in ThreeAnatomy
  components/okc/ThreeAnatomy.tsx
Owners: none

docs(plan): log PR #10 merge and follow-ups
  PLAN.md
Owners: none

feat(build,docs): migrate to Tailwind v4 CSS-first; add runbook and workflow
  README.md
  app/globals.css
  docs/TAILWIND_V4_RUNBOOK.md
  docs/WORKFLOW.md
  postcss.config.cjs
  tailwind.config.cjs
Owners: @kyin, @studyin-ui

merge code-branch-20250929-173244 via /merge
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  IMPLEMENTATION.md
  PLAN.md
  PRD.md
  README.md
  public/analytics/rubric-score.json
Owners: @kyin

merge code-branch-20250929-173244 via /merge
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  IMPLEMENTATION.md
  PLAN.md
  PRD.md
  README.md
  public/analytics/rubric-score.json
Owners: @kyin

feat(build,docs): migrate to Tailwind v4 CSS-first; add runbook and workflow
  README.md
  app/globals.css
  docs/TAILWIND_V4_RUNBOOK.md
  docs/WORKFLOW.md
  postcss.config.cjs
  tailwind.config.cjs
Owners: @kyin, @studyin-ui

feat(engine): add adaptive study engine and retention dashboards
  .github/workflows/refit-weekly.yml
  AGENTS.md
  IMPLEMENTATION.md
  PLAN.md
  PRD.md
  README.md
  app/study/actions.ts
  app/study/engine.ts
  app/study/page.tsx
  app/summary/page.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/SummaryDashboards.tsx
  core/types/events.ts
  core/types/repositories.ts
  core/types/useCase.ts
  core/use-cases/executeRetentionReview.ts
  core/use-cases/executeStudyAttempt.ts
  docs/architecture/overview.md
  lib/getAnalytics.ts
  lib/server/study-state.ts
  lib/study-engine.ts
  lib/study-insights.ts
  package.json
  scripts/jobs/refit-weekly.mjs
  scripts/lib/analyzer-core.mjs
  scripts/lib/exposure.mjs
  scripts/lib/fsrs.mjs
  scripts/lib/gpcm.mjs
  scripts/lib/rasch.mjs
  scripts/lib/scheduler.mjs
  scripts/lib/selector.mjs
  services/state/jsonRepository.ts
  services/telemetry/localTelemetry.ts
  tests/api/analyzer.test.ts
  tests/engine.logic.test.ts
  tests/engine.state.test.ts
  tests/refit.job.test.ts
  tests/study.insights.test.ts
Owners: @kyin, @studyin-ui, @studyin-analytics

feat(engine): add adaptive study engine and retention dashboards
  .github/workflows/refit-weekly.yml
  AGENTS.md
  IMPLEMENTATION.md
  PLAN.md
  PRD.md
  README.md
  app/study/actions.ts
  app/study/engine.ts
  app/study/page.tsx
  app/summary/page.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/SummaryDashboards.tsx
  core/types/events.ts
  core/types/repositories.ts
  core/types/useCase.ts
  core/use-cases/executeRetentionReview.ts
  core/use-cases/executeStudyAttempt.ts
  docs/architecture/overview.md
  lib/getAnalytics.ts
  lib/server/study-state.ts
  lib/study-engine.ts
  lib/study-insights.ts
  package.json
  scripts/jobs/refit-weekly.mjs
  scripts/lib/analyzer-core.mjs
  scripts/lib/exposure.mjs
  scripts/lib/fsrs.mjs
  scripts/lib/gpcm.mjs
  scripts/lib/rasch.mjs
  scripts/lib/scheduler.mjs
  scripts/lib/selector.mjs
  services/state/jsonRepository.ts
  services/telemetry/localTelemetry.ts
  tests/api/analyzer.test.ts
  tests/engine.logic.test.ts
  tests/engine.state.test.ts
  tests/refit.job.test.ts
  tests/study.insights.test.ts
Owners: @kyin, @studyin-ui, @studyin-analytics

feat(study): add optimistic learner-state caching
  app/api/learner-state/route.ts
  app/providers.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  lib/client/useLearnerState.ts
  package-lock.json
  package.json
Owners: @kyin, @studyin-ui

feat(study): add optimistic learner-state caching
  app/api/learner-state/route.ts
  app/providers.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  lib/client/useLearnerState.ts
  package-lock.json
  package.json
Owners: @kyin, @studyin-ui

fix(study): restore learner state sync
  .gitignore
  app/api/learner-state/route.ts
  app/study/page.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  lib/server/study-state.ts
  services/state/jsonRepository.ts
Owners: @kyin, @studyin-ui

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update SplideAchievements.tsx
  components/okc/SplideAchievements.tsx
Owners: none

Update SplideAchievements.tsx
  components/okc/SplideAchievements.tsx
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

fix(study): restore learner state sync (#12)
  .gitignore
  app/api/learner-state/route.ts
  app/study/page.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  lib/server/study-state.ts
  services/state/jsonRepository.ts
Owners: @kyin, @studyin-ui

fix(study): restore learner state sync (#12)
  .gitignore
  app/api/learner-state/route.ts
  app/study/page.tsx
  components/StudyTabs.tsx
  components/StudyView.tsx
  lib/server/study-state.ts
  services/state/jsonRepository.ts
Owners: @kyin, @studyin-ui

docs(plan): note PR hygiene and superseded Codex PRs
  PLAN.md
Owners: none

docs(plan): note PR hygiene and superseded Codex PRs
  PLAN.md
Owners: none

chore(pm): add script to close superseded Codex PRs via GitHub API (dry-run by default)
  package.json
  scripts/tools/close-superseded-prs.mjs
Owners: @kyin, @studyin-analytics

chore(pm): add script to close superseded Codex PRs via GitHub API (dry-run by default)
  package.json
  scripts/tools/close-superseded-prs.mjs
Owners: @kyin, @studyin-analytics

chore(refit): add weekly refit summary artifact for governance review
  data/refit-summaries/refit-summary-2025-10-01.json
Owners: none

chore(refit): add weekly refit summary artifact for governance review
  data/refit-summaries/refit-summary-2025-10-01.json
Owners: none

chore(pm): refresh rubric score snapshot after analytics update
  public/analytics/rubric-score.json
Owners: none

chore(pm): refresh rubric score snapshot after analytics update
  public/analytics/rubric-score.json
Owners: none

chore(pm): load .env.local in close-superseded script for env vars
  scripts/tools/close-superseded-prs.mjs
Owners: @kyin, @studyin-analytics

chore(pm): load .env.local in close-superseded script for env vars
  scripts/tools/close-superseded-prs.mjs
Owners: @kyin, @studyin-analytics

feat(study): polish dashboards and adaptive controls
  .mcp/servers.example.json
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/SummaryDashboards.tsx
  package.json
Owners: none

feat(study): polish dashboards and adaptive controls
  .mcp/servers.example.json
  components/StudyTabs.tsx
  components/StudyView.tsx
  components/SummaryDashboards.tsx
  package.json
Owners: none

feat(api): harden health check and add test
  app/api/health/route.ts
  tests/api/health.test.ts
Owners: @kyin, @studyin-ui
