Repository yinkev/Studyin, changes with the owners that CODEOWNERS names for each.
All owners: @kyin, @studyin-analytics, @studyin-ui

feat(api): harden health check and add test (#13)
  app/api/health/route.ts
  tests/api/health.test.ts
Owners: @kyin, @studyin-ui

feat(api): harden health check and add test (#13)
  app/api/health/route.ts
  tests/api/health.test.ts
Owners: @kyin, @studyin-ui

feat(study): add deterministic ‘Why this next’ pill component and tests; guard exam form on published-only deficits
  IMPLEMENTATION.md
  components/StudyView.tsx
  components/pills/WhyThisNextPill.tsx
  lib/server/forms.ts
  tests/why-pill.test.tsx
Owners: none

feat(study): add deterministic ‘Why this next’ pill component and tests; guard exam form on published-only deficits (#14)
  IMPLEMENTATION.md
  components/StudyView.tsx
  components/pills/WhyThisNextPill.tsx
  lib/server/forms.ts
  tests/why-pill.test.tsx
Owners: none

feat(study): add deterministic ‘Why this next’ pill component and tests; guard exam form on published-only deficits (#14)
  IMPLEMENTATION.md
  components/StudyView.tsx
  components/pills/WhyThisNextPill.tsx
  lib/server/forms.ts
  tests/why-pill.test.tsx
Owners: none

docs(pm): add session handoff and update PLAN milestones (PRs #13/#14)
  NEXT_SESSION.md
  PLAN.md
Owners: none

docs(pm): add session handoff and update PLAN milestones (PRs #13/#14) (#15)
  NEXT_SESSION.md
  PLAN.md
Owners: none

docs(pm): add session handoff and update PLAN milestones (PRs #13/#14) (#15)
  NEXT_SESSION.md
  PLAN.md
Owners: none

feat(study): polish ‘Why this next’ pill with TTM tooltip and deterministic clamp
  components/StudyView.tsx
  components/pills/WhyThisNextPill.tsx
  tests/why-pill.test.tsx
Owners: none

feat(study): polish ‘Why this next’ pill with TTM tooltip (#16)
  components/StudyView.tsx
  components/pills/WhyThisNextPill.tsx
  tests/why-pill.test.tsx
Owners: none

feat(study): polish ‘Why this next’ pill with TTM tooltip (#16)
  components/StudyView.tsx
  components/pills/WhyThisNextPill.tsx
  tests/why-pill.test.tsx
Owners: none

docs: scrub Lighthouse/A11y references across legacy design docs and SOPs; clarify perf-only stance
  AGENTS.md
  OKComputer_UI Redesign Blueprint/DESIGN_SYSTEM.md
  OKComputer_UI Redesign Blueprint/IMPLEMENTATION_PLAN.md
  OKComputer_UI Redesign Blueprint/README.md
  OKComputer_UI Redesign Blueprint/VALIDATION_REPORT.md
  PRD.md
  README.md
  scripts/codex/implementation-writer.md
  scripts/codex/studyin-pm.md
Owners: @kyin, @studyin-analytics

docs: scrub Lighthouse/A11y references across legacy design docs and SOPs; clarify perf-only stance
  AGENTS.md
  OKComputer_UI Redesign Blueprint/DESIGN_SYSTEM.md
  OKComputer_UI Redesign Blueprint/IMPLEMENTATION_PLAN.md
  OKComputer_UI Redesign Blueprint/README.md
  OKComputer_UI Redesign Blueprint/VALIDATION_REPORT.md
  PRD.md
  README.md
  scripts/codex/implementation-writer.md
  scripts/codex/studyin-pm.md
Owners: @kyin, @studyin-analytics

chore(build): add TS path aliases and engine/server barrel exports
  tsconfig.json
Owners: none

chore(build): add TS path aliases and engine/server barrel exports
  tsconfig.json
Owners: none

docs: add Architecture Boundaries & Determinism Policy; Architecture Gates; MCP workflow docs; PR template citations; update README and AGENTS.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  README.md
  docs/WORKFLOW.md
  docs/architecture/overview.md
Owners: @kyin

docs: add Architecture Boundaries & Determinism Policy; Architecture Gates; MCP workflow docs; PR template citations; update README and AGENTS.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  README.md
  docs/WORKFLOW.md
  docs/architecture/overview.md
Owners: @kyin

feat(cram): remove study caps and cooldown; disable ingest rate/body limits; update tests
  lib/server/events.ts
  lib/study-engine.ts
  scripts/lib/exposure.mjs
  tests/api/events.test.ts
  tests/engine.logic.test.ts
Owners: @kyin, @studyin-analytics

docs: add ModularizationPlan with architecture map, import rules, and enforcement details
  docs/ModularizationPlan.md
Owners: none

feat(cram): remove study caps and cooldown; disable ingest rate/body limits; update tests
  lib/server/events.ts
  lib/study-engine.ts
  scripts/lib/exposure.mjs
  tests/api/events.test.ts
  tests/engine.logic.test.ts
Owners: @kyin, @studyin-analytics

docs: add ModularizationPlan with architecture map, import rules, and enforcement details
  docs/ModularizationPlan.md
Owners: none

chore: sync docs and import paths
  AGENTS.md
  PLAN.md
  README.md
  app/api/attempts/route.ts
  app/api/health/route.ts
  app/api/sessions/route.ts
  app/study/engine.ts
  core/types/repositories.ts
  core/use-cases/executeRetentionReview.ts
  core/use-cases/executeStudyAttempt.ts
  lib/server/events.ts
  services/telemetry/localTelemetry.ts
  tests/api/events.test.ts
Owners: @kyin, @studyin-ui

docs(pm): align README/PRD/IMPLEMENTATION and authoring automation with queue+worker; remove obsolete CLI references
  IMPLEMENTATION.md
  PRD.md
  README.md
  docs/AUTHORING_AUTOMATION.md
Owners: @kyin

feat(upload): add file upload API and CLI fallback; enqueue jobs with sourcePath; show Process via CLI link in dev
  app/api/upload/route.ts
  app/upload/page.tsx
  lib/hooks/useUploader.ts
Owners: @kyin, @studyin-ui

fix(core): stabilize event typings and module shims
  CHANGELOG.md
  README.md
  app/api/lessons/[id]/route.ts
  app/api/queue/status/[id]/route.ts
  app/api/search/route.ts
  app/study/engine.ts
  app/summary/page.tsx
  components/InteractiveLessonViewer.tsx
  components/StudyView.tsx
  components/charts/ConfusionForce.tsx
  core/types/events.ts
  core/types/repositories.ts
  core/use-cases/executeRetentionReview.ts
  core/use-cases/executeStudyAttempt.ts
  core/use-cases/startStudySession.ts
  lib/__tests__/eventBus.test.ts
  lib/eventBus.ts
  lib/getLessons.ts
  lib/server/supabase.ts
  lib/services/lessonService.ts
  lib/services/stateService.ts
  lib/study-engine.ts
  playwright.config.js
  tests/api/events.test.ts
  tests/performance/render.study-pill.test.tsx
  types/animejs.d.ts
  types/scripts-modules.d.ts
Owners: @kyin, @studyin-ui

chore(repo): ignore dev data directories (data/uploads, data/queue)
  .gitignore
Owners: none

docs(ui): add future UI designs and status docs
  docs/ANIMEJS_V4_MIGRATION.md
  docs/ARCHITECTURE_ROADMAP.md
  docs/CLI_INTEGRATION_GUIDE.md
  docs/CLI_PIPELINE_TEST_RESULTS.md
  docs/COMPONENT_USAGE_GUIDE.md
  docs/FUTURE_UI_DESIGNS.md
  docs/MAX_GRAPHICS_IMPLEMENTATION.md
  docs/PHASE4_COMPLETION.md
  docs/PHASE4_STATUS.md
  docs/PHASE_1_LANDING_PAGE_COMPLETE.md
  docs/PHASE_2_STUDY_PAGE_COMPLETE.md
  docs/PHASE_3_ANALYTICS_COMPLETE.md
  docs/SESSION_SUMMARY.md
  docs/UIUX_TEST_REPORT.md
  docs/UI_MOCKUPS.md
  docs/XP_SYSTEM_GUIDE.md
  docs/screenshots/01-upload-page-loaded.png
  docs/screenshots/03-dropzone-hover.png
  docs/screenshots/04-upload-button.png
  docs/screenshots/error.png
  docs/screenshots/landing-page.png
  docs/screenshots/mobile-upload.png
  docs/screenshots/upload-page.png
Owners: none

feat(ui): add XP system providers, effects, and new UI components
  components/InteractiveLessonViewer.tsx
  components/ThemeProvider.tsx
  components/XPProvider.tsx
  components/analytics/BlueprintDriftEnhanced.tsx
  components/analytics/ConfusionHeatmap.tsx
  components/analytics/SessionTimeline.tsx
  components/analytics/SpeedAccuracyScatter.tsx
  components/analytics/TTMBarEnhanced.tsx
  components/atoms/DataCard.tsx
  components/atoms/GlowCard.tsx
  components/dev/XPDevPanel.tsx
  components/effects/ConfettiBurst.tsx
  components/effects/LevelUpBurst.tsx
  components/effects/MasteryBurst.tsx
  components/effects/ParticleField.tsx
  components/effects/XPGainToast.tsx
  components/landing/HeroSection.tsx
  components/landing/ModuleCard.tsx
  components/layout/AppShell.tsx
  components/molecules/TimelineBeatCard.tsx
  components/okc/HomeShell.tsx
  components/organisms/LessonMetaPanel.tsx
  components/study/AbilityTrackerGraph.tsx
  components/study/EvidencePanel.tsx
  components/study/KeyboardShortcutsOverlay.tsx
  components/study/WhyThisNextPill.tsx
  components/upload/CLIProgressDisplay.tsx
  components/upload/DragDropZone.tsx
  components/upload/JobQueuePanel.tsx
  lib/hooks/useXPSystem.tsx
  lib/themes.ts
  lib/xp-system.ts
Owners: none

chore(app): wire providers and update pages/shells
  app/(dev)/time-machine/TimeMachineClient.tsx
  app/globals.css
  app/page.tsx
  app/providers.tsx
  app/upload/page.tsx
Owners: @kyin, @studyin-ui

chore(worker): update dev content factory worker
  scripts/worker.ts
Owners: @kyin, @studyin-analytics

chore(scripts): add CLI wrappers and utilities
  scripts/cli-wrappers/codex.ts
  scripts/cli-wrappers/gemini.ts
  scripts/migrate-anime-v4.mjs
  scripts/quick-screenshot.mjs
  scripts/test-cli-pipeline.ts
  scripts/test-upload-ui.mjs
Owners: @kyin, @studyin-analytics

chore(deps): update deps and tsconfig
  package-lock.json
  package.json
  tsconfig.json
Owners: none

feat(ui): add ThemeToggle atom
  components/atoms/ThemeToggle.tsx
Owners: none

fix(build): force dynamic rendering for /exam and add graceful fallback when no items exist
  app/exam/page.tsx
Owners: @kyin, @studyin-ui

feat(xp): award XP on correct answers and lesson completion; update session summary
  components/InteractiveLessonViewer.tsx
  docs/SESSION_SUMMARY.md
Owners: none

feat(xp): integrate XP rewards with study actions (E1 & E2)
  components/InteractiveLessonViewer.tsx
Owners: none

feat(xp): integrate XP rewards with study actions (E1 & E2)
  components/InteractiveLessonViewer.tsx
Owners: none

ci(e2e): add GitHub Actions workflow; skip screenshots on CI to avoid cross-OS diffs
  .github/workflows/ci.yml
  tests/e2e-js/ui.spec.js
Owners: none

ci(e2e): add GitHub Actions workflow; skip screenshots on CI to avoid cross-OS diffs
  .github/workflows/ci.yml
  tests/e2e-js/ui.spec.js
Owners: none

chore(dev): add newui stubs for design playground build
  components/newui/README.md
  components/newui/atoms/Badge.tsx
  components/newui/atoms/Button.tsx
  components/newui/atoms/IconButton.tsx
  components/newui/atoms/Input.tsx
  components/newui/atoms/Text.tsx
  components/newui/icons.tsx
  components/newui/tokens.ts
Owners: @kyin

CODEOWNERS:

# Studyin ownership map
# Paths map to agents / SMEs for required review.

/content/ upper-limb-itemsmith @kyin @studyin-items
/scripts/ @kyin @studyin-analytics
/app/ @kyin @studyin-ui
/config/ @kyin
AGENTS.md @kyin
README.md @kyin
