Repository yinkev/Studyin, changes with the owners that CODEOWNERS names for each.
All owners: @kyin, @studyin-analytics, @studyin-ui

docs(cleanup): add final cleanup report for 2025-10-08
  CLEANUP_REPORT_2025-10-08.md
Owners: none

docs: add comprehensive project documentation and agent guides
  .claude/agents/ui-ux-designer.md
  AGENTS.md
  CLAUDE.md
  docs/architecture/modularity.md
  docs/guides/maintenance.md
  docs/guides/preventing-technical-debt.md
Owners: @kyin

chore: comprehensive cleanup - remove 118MB of unnecessary files
  .gitignore
  CLEANUP_REPORT_2025-10-08.md
  data/rubric-input.json
  data/skill-trees/cardiology-core.example.json
  final-dashboard.png
  final-home.png
  final-study.png
  tests/e2e-js/ui.spec.js-snapshots/--darwin.png
  tests/e2e-js/ui.spec.js-snapshots/-dashboard-darwin.png
  tests/e2e-js/ui.spec.js-snapshots/-exam-darwin.png
  tests/e2e-js/ui.spec.js-snapshots/-study-darwin.png
  tests/e2e-js/ui.spec.js-snapshots/-summary-darwin.png
  tests/e2e-js/ui.spec.js-snapshots/-upload-darwin.png
  ts-errors.txt
Owners: none

chore: deep clean - remove all dev/experimental code and hidden directories
  .gitignore
  app/(dev)/time-machine/TimeMachineClient.tsx
  app/(dev)/time-machine/page.tsx
  app/dev/authoring/page.tsx
  app/dev/rag-inspector/page.tsx
  scripts/cli-wrappers/codex.ts
  scripts/cli-wrappers/gemini.ts
  scripts/mcp/gemini-workflow-server.js
  scripts/orchestration/app-improvement-agents.mjs
  scripts/orchestration/follow-the-money-agents.mjs
  scripts/workflows/dashboard-test-workflow.sh
Owners: @kyin, @studyin-ui, @studyin-analytics

fix: WebSocket streaming + production hardening for AI coach
  backend/app/api/chat.py
  backend/app/config.py
  backend/app/services/codex_llm.py
  frontend/src/hooks/useChatSession.ts
Owners: none

feat: command injection protection + production hardening
  backend/app/config.py
  backend/app/services/codex_llm.py
Owners: none

chore: fresh start sync, ignore Vercel dir, untrack local env
  .gitignore
  SESSION_HANDOFF_2025-10-12_v3.md
  SESSION_HANDOFF_2025-10-13.md
  SESSION_HANDOFF_2025-10-13_v2.md
  START_SERVERS.sh
  TEST_WEBSOCKET_FIX.sh
  WEBSOCKET_CONNECTION_FIX.md
  backend/app/api/analytics.py
  backend/app/api/chat.py
  backend/app/services/analytics/tracker.py
  backend/chroma_data/038c72ab-5496-402d-a3db-e9a96fb5d095/data_level0.bin
  backend/requirements.txt
  frontend/.env.local
  frontend/.env.local.example
  frontend/src/components/chat/ChatPanel.tsx
  frontend/src/hooks/useChatSession.ts
  frontend/src/pages/ChatView.tsx
Owners: none

chore: prune old remote branches (codex/docs/gh-actions); archive mapping in BRANCH_PRUNE_ARCHIVE_2025-10-13.md
  BRANCH_PRUNE_ARCHIVE_2025-10-13.md
Owners: none

chore: prune remote branches (codex/docs/gh-actions); archive mapping update
  BRANCH_PRUNE_ARCHIVE_2025-10-13.md
Owners: none

feat: FirstPassView + Quiz nav + chat → Save as Insight; digest/teach endpoints wired; frontend build ok
  backend/app/services/codex_llm.py
  frontend/src/pages/FirstPassView.tsx
Owners: none

feat: DigestPanel + FirstPassView wiring; Quiz → Save as Insight; FSRS card creation on MCQ answer; frontend build ok
  backend/app/api/questions.py
  frontend/src/components/dashboard/DigestPanel.tsx
  frontend/src/pages/CosmicDashboard.tsx
  frontend/src/pages/QuizView.tsx
Owners: none

feat: dynamic config & flows — remove alembic URL hardcode; Quiz/FirstPass require user input; Digest derives data; hook FirstPass route; build OK
  backend/alembic.ini
  backend/app/api/digests.py
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/CosmicDashboard.tsx
  frontend/src/pages/FirstPassView.tsx
  frontend/src/pages/QuizView.tsx
Owners: none

feat: ReviewView (due cards + submit ratings); questions list filters + next-unanswered; reviews use demo auth; frontend build OK
  backend/app/api/questions.py
  backend/app/api/reviews.py
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/ReviewView.tsx
Owners: none

feat: Next Unanswered flow (topic-based); dynamic ws URL; quiz difficulty/count; build OK
  frontend/src/hooks/useChatSession.ts
  frontend/src/pages/QuizView.tsx
Owners: none

feat: Navbar due-count badge; dynamic analytics progress; WS protocol auto; build OK
  backend/app/api/reviews.py
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/lib/api/analytics.ts
  frontend/src/lib/api/reviews.ts
Owners: none

feat: QuestionBankView with filters + Practice Next; Quiz auto-next via URL params; build OK
  backend/app/api/digests.py
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/QuestionBankView.tsx
  frontend/src/pages/QuizView.tsx
Owners: none

chore: api baseURL dynamic fallback to current origin; build OK
  frontend/src/lib/api/client.ts
Owners: none

feat: FirstPass persists MCQs and allows answering; continue practice from dashboard; build OK
  backend/app/api/teach.py
  frontend/src/pages/CosmicDashboard.tsx
  frontend/src/pages/FirstPassView.tsx
  frontend/src/pages/QuizView.tsx
Owners: none

feat(auth): add AUTH_MODE with validator and prod/staging guard; add get_current_user_dynamic switching on AUTH_MODE
  backend/app/api/deps.py
  backend/app/config.py
Owners: none

feat(backend): enhance FSRS endpoints with question/answer content
  backend/app/api/reviews.py
  backend/app/schemas/fsrs.py
  backend/app/services/fsrs_service.py
Owners: none

fix: replace CosmicDashboard with ModernDashboard and fix CSS imports
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Owners: none

chore: remove deleted files from tracking
  frontend/src/pages/CosmicDashboard.tsx
  frontend/src/styles/tokens-2025.css
Owners: none

CODEOWNERS:

# Studyin ownership map
# Paths map to agents / SMEs for required review.

/content/ upper-limb-itemsmith @kyin @studyin-items
/scripts/ @kyin @studyin-analytics
/app/ @kyin @studyin-ui
/config/ @kyin
AGENTS.md @kyin
README.md @kyin
